*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
header{
    background-color:grey;
    display: grid;
    grid-template-columns: 200px 1fr 350px 
    
}
.info{
    margin-left: 290px;
    margin-top: 50px;
}
.logo{
    margin-top: 48px;
}